/* Font Google */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* Font Minecraft */

@font-face {
  font-family: menkrep;
  src: url('../Font/Minecraft.ttf');
}


.popup {
  display: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  transform: translate(-50%, -50%);
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.popup-content p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

#close-popup {
  position: relative;
  padding: 10px 20px;
  background-color: #29a8e1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#close-popup {
  position: relative;
  padding: 10px 20px;
  background-color: #29a8e1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

#close-popup::after {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#close-popup:hover::after {
  top: 0;
  background-color: rgba(255, 255, 255, 0);
}

#close-popup:active {
  transform: scale(0.95);
}





body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.menkrep {
  font-family: menkrep;
}

.light-mode {
  /* Tambahkan properti CSS untuk light mode di sini */
  background-color: #fff;
  color: #fff;
}

.dark-mode #mode-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#mode-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 35px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#mode-toggle:hover {
  color: #ff9800;
}

#mode-toggle i {
  transition: transform 0.3s ease;
}

.dark-mode #mode-toggle i {
  transform: rotate(180deg);
}


.dark-mode {
  /* Tambahkan properti CSS untuk dark mode di sini */
  background-color: #333;
}

.dark-mode .card-content {
  color: #fff;
}

.dark-mode .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px 20px;
  color: #fff;
}

.dark-mode .card {
  width: 300px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(241, 58, 58, 0.2); 
  overflow: hidden;
} 

.dark-mode .menu li {
  display: inline-block;
  margin-right: 20px;
}

.dark-mode .menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.dark-mode footer {
  font-family: menkrep;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.dark-mode .menu a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
  color: #333;
}

.logo img {
  width: 50px;
  height: auto;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}


.menu a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu a:hover:before {
  transform: scaleX(1);
}


.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.landing-page {
  flex: 1;
  text-align: center;
  padding: 50px;
}

.beli {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #FFFFFF;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.beli:hover {
  background-color: #45a049;
}

.beli:active {
  transform: scale(0.95);
}

.produk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skin {
  width: 300px;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(241, 58, 58, 0.2); 
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-content h2 {
  margin: 0;
  font-size: 18px;
}

.card-content p {
  margin: 5px 0;
}

.card:hover {
  transform: scale(1.1);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #FFC700, #FF4A00, #FF009D, #FF0062);
  opacity: 0.6;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.card:hover:after {
  opacity: 0.9;
}

.card-content button {
  background-color: #ff4c4c;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.bel {
  background-color: #ff4c4c;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  font-family: menkrep;
  background-color: #fff;
  color: #333;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
