body {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  .dark-mode {
    background-color: #111;
    color: #fff;
  }
  
  .light-mode {
    background-color: #fff;
    color: #111;
  }